* {
    box-sizing: border-box;
    border: none;
}

body {
    margin: 0;
    background-color: #060314;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-family: 'Sunflower', sans-serif; 
    color: #ac58fa;
    font-size: 50px;
}

.login-form {
    background-color: #EEEFF1;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text-field {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

.submit1-btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #ac58fa;
    border: none;
}

.submit1-btn:hover {
    background-color: rgb(80, 3, 95);
    color: white;
}

.links {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.links a {
    color: #9B9B9B;
}